@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@700&display=swap");
* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}
#first-section {
  background-image: url("./images/donation13.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.header-area {
  color: white;
  padding-top: 100px;
}
h1 {
  font-size: 65px;
}
p {
  font-size: 30px;
}

button {
  padding: 15px 25px;
  font-size: 13px;
  color: white;
  background-color: tomato;
  border: 0px;
  border-radius: 10px;
  margin-top: 70px;
  margin-bottom: 30px;
}
span {
  text-align: center;
  font-size: 35px;
}
.text-style {
  padding-top: 100px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}
#second-section {
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 17px;
}
.money-box {
  padding: 30px;
  background-color: whitesmoke;
  margin-right: 15px;
}

#box-color {
  background-color: rgba(255, 99, 71, 0.493);
  border: 3px solid tomato;
  border-radius: 5px;
  color: tomato;
}
.donation {
  background-color: white;
}

.donation-input {
  color: black;
  border: none;
  font-size: 15px;
  width: 650px;
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  margin-left: 340px;
}
.donation-button {
  text-align: center;
}

#third-section {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
  padding-top: 50px;
}
.card {
  width: 250px;
  height: 250px;
  padding: 40px;
  border-radius: 10px;
  margin-right: 50px;
  background-color: aqua;
}

.card-title {
  padding-top: 30px;
  font-size: 20px;
}
.card-des {
  font-size: 13px;
  padding-top: 10px;
}
#card-color1 {
  background-color: rgba(161, 211, 231, 0.322);
}
#card-color2 {
  background-color: rgba(233, 17, 53, 0.151);
}
#card-color3 {
  background-color: rgba(255, 99, 71, 0.397);
}
#extra-section {
  display: flex;
  justify-content: center;
}
.extra-title {
  font-size: 55px;
  text-align: center;
  margin-bottom: 25px;
}
.extra-body {
  height: 170px;
  width: 250px;
  margin-right: 15px;
  font-size: 15px;
  border-left: 7px solid tomato;
  padding: 50px 20px 20px 20px;
}
.quote {
  text-align: center;
}

label {
  background-color: blanchedalmond;
  height: 200px;
  width: 800px;
  justify-content: center;
}
#fourth-section {
  display: flex;
  justify-content: center;
}
.mail-input {
  padding: 15px 25px;
  font-size: 13px;
  border: 20px;
  border-radius: 10px;
  margin-left: 220px;
}
footer {
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 50px;
  text-align: center;
  margin-top: 70px;
}
h2 {
  color: tomato;
}
